[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit ALMotion — Aldebaran 2.5.5.5 documentation
Type=Link
URL=http://doc.aldebaran.com/2-5/naoqi/motion/almotion.html
Icon=text-html
Name[de_AT]=Aldebaran 2.5.5.5 documentation
